@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
  font-family: Source Sans Pro,Helvetica,Arial,sans-serif;

}


.abc{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,39,43,0.9110994739692753) 0%);
  position: relative;
  /* width: 100vw; */
  background-size: cover;
  background-position: center;
}


/*--------------------------------- navbar ---------------------------------*/
.navbar-dark {
  background-color: grey;
  font-weight: 500;
  
}

.about {
  margin-top: 0.5rem;
  
  /* padding-top: 4rem !important; */
}

.about-content{
  padding-top: 5rem;
  
  font-size: large;
  
}
.about-img {

  border-radius: 10%;
  height: 400px;
}
/* ------------------------------heading part ----------------- */
.header{
  height: 700px;
  padding-top: 9rem;
  padding-bottom: 2rem;
  /* object-fit: contain; */
}
.header-para{
  font-size: 1.8rem;
  
}
.header-title{
  color: var(--primary-orange);
  /* color: blueviolet; */
  /* color: white; */
  font-size: 5rem;
  
  font-family: 'Frijole', cursive;
  top:2em;
}

.header-btn{
  padding: 8px 8px;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #5eba7d;
}
.header p {
  box-sizing: border-box;
}
.header-banner {
  font-size: 2.5rem;

}

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 3rem;
    font-family: 'Frijole', cursive;
    top:2em;
  }

  .header-banner {
    font-size: 2rem;
  }
}


/*  ------------------------------Projects ------------------------------*/

.project{
  display: flex;
  margin-top: 4rem;
  }
  
  /* work */

 .work {
   margin-top: 3rem;
   align-self: center !important;
 }


 /* hr */
 hr {
  background-color:gray;
  border-width: 0.1rem;
  border-style: solid;
  border-color: gray;
  border-image: initial;
  margin: 2rem auto;
}



/* -------------------------------social icon */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  margin: 0 .5em;
  font-size: clamp(1em,3.2vw,2.5em);
}
.social-icons-footer{
  list-style: none;
}
.social-icons-footer li{
  display: inline-block;
  font-size: 1.8em;
  margin: 0 .5em;

}
.copyright-footer{
  margin-top: 15px;
}

/* ------------------------------a link -------------------------*/
a {
  text-decoration: none !important;
  color: #575b60;
}
a:hover {
  color: orange;
}

p {
  font-weight: 300;
}




#contact {
  box-sizing: border-box;
  background: #191919;
  padding-top: 96px;
  padding-bottom: 102px;
  color: #636363;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:before, .row:after {
  content: " ";
  display: table;
}

h1 h2{
  font-family: 'Lobster', cursive;
}






/* /----- Buttons --------/ */




.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btns {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  margin-top: 10px;
}
.btns:focus {
  outline: 2px dotted #55d7dc;
}

.working{
  margin-bottom: 10px;
}
.resume{
  margin-top: 30px;
}