@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}


.nav-li-a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.nav-li-a.active, .nav-li-a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.nav-li-a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
h1{
  font-family: 'Lobster', cursive;
}